@model DB.Modelo.Usuarios
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/Mensajes/PaginaPrincipalMensaje.css">

</head>

<body>
    <div class="container">
        <h1>Pagina Mensajes</h1>
        <main>

            <form method="post" action="@Url.Action("buscarUsuarioParaEnviarMensaje", "ControladorMensajes")">
                <div class="form-group mx-sm-3 mb-2">
                    <label for="buscar" class="sr-only">Buscar:</label>
                    <input type="text" class="form-control" id="buscar" name="correoElectronico" placeholder="Escribe tu búsqueda..." />
                </div>
                <button type="submit" class="btn btn-primary mb-2">Buscar</button>
            </form>
            @if (Model != null)
            {
                <a href="@Url.Action("paginaChatMensaje", "ControladorMensajes", new { idUsuarioDestino  = Model.idUsuario})">
                    <div class="usuario-encontrado">
                        <div class="imagen-circular">
                            <img src="@Model.rutaImagen" alt="Foto de perfil" />
                        </div>
                        <p class="nombre-usuario">@Model.correoElectronico</p>
                    </div>
                </a>
            }
            else
            {
                <p>@TempData["mensajeError"]</p>
            }
        </main>
    </div>

    <!-- Bootstrap JS y Popper.js (si es necesario) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
