
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>LinkSocial</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="~/css/IniciarSesion/iniciarSesion.css" />


</head>
<body>
    <section class="background-radial-gradient vh-100 overflow-hidden">
        <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
            <div class="row gx-lg-5 align-items-center mb-5">
                <div class="col-lg-6 mb-5 mb-lg-0 text-white" style="z-index: 10">
                    <h1 class="my-5 display-3 fw-bold ls-tight animate__animated animate__fadeIn" style="color: hsl(218, 81%, 95%); font-size: 3.5rem; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">
                        Bienvenido a<br />
                        <span style="color: hsl(216, 20%, 5%); font-weight: bold;">LinkSocial</span>
                    </h1>
                </div>


                <div id="containerPrincipal" class="col-lg-6 mb-5 mb-lg-0 position-relative">
                    <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                    <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>


                    <div id="formularioInicio" class="card bg-glass">
                        <div class="card-body px-4 py-5 px-md-5">

                            <form method="post" action="@Url.Action("IniciarSesion", "ControladorIniciarSesion")">

                                <!-- Email -->
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="correoElectronico">Correo</label>
                                    <input type="email" id="correoElectronico" name="correoElectronico" class="form-control" />
                                </div>

                                <!-- Contraseña -->
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="contraseña">Contraseña</label>
                                    <input type="password" id="contraseña" name="contraseña" class="form-control" />
                                </div>

                                <!-- Botón de Iniciar Sesión -->
                                <button id="btn-iniciarSesion" type="submit" class="btn btn-primary btn-block mb-4">
                                    Iniciar Sesión
                                </button>

                                <!-- Otras opciones -->
                                <div class="text-center">
                                    <p>¿No estás registrado? <a asp-controller="ControladorRegistrarUsuarios" asp-action="irARegistro">Registrar</a></p>
                                    <p>¿Has olvidado tu contaseña? <a asp-controller="ControladorRecuperarContraseña" asp-action="irARecuperarContraseña">Recuperar Contraseña</a></p>
                                    <p>O regístrate con:</p>
                                    <button type="button" class="btn btn-link btn-floating mx-1">
                                        <i class="bi bi-facebook"></i>
                                    </button>
                                    <button type="button" class="btn btn-link btn-floating mx-1">
                                        <i class="bi bi-google"></i>
                                    </button>
                                    <button type="button" class="btn btn-link btn-floating mx-1">
                                        <i class="bi bi-twitter"></i>
                                    </button>
                                </div>
                            </form>

                            <!--Mensaje de errores-->
                            @if (TempData["Error"] != null)
                            {
                                <div class="alert alert-danger" role="alert">
                                    @TempData["Error"]
                                </div>
                            }
                            <!-- Mensaje de registro exitoso-->
                            @if (TempData["MensajeRegistroExitoso"] != null)
                            {
                                <div class="alert alert-success" role="alert">
                                    @TempData["MensajeRegistroExitoso"]
                                </div>
                            }
                            <!--Mensaje de recuperacion de contraseña exitosa-->
                            @if (TempData["MensajeRecuperacionExitoso"] != null)
                            {
                                <div class="alert alert-success" role="alert">
                                    @TempData["MensajeRecuperacionExitoso"]
                                </div>
                            }
                            <!--Mensaje de token caducado-->
                            @if (TempData["MensajeTokenInvalido"] != null)
                            {
                                <div class="alert alert-danger" role="alert">
                                    @TempData["MensajeTokenInvalido"]
                                </div>
                            }
                            <!--Mensaje de que no estan rellenados los campos-->
                            @if (TempData["MensajeCampoVacios"] != null)
                            {
                                <div class="alert alert-danger" role="alert">
                                    @TempData["MensajeCampoVacios"]
                                </div>
                            }

                            <!--Mensaje contraseña modificada-->
                            @if (TempData["MensajeModificacionContraseñaExito"] != null)
                            {
                                <div class="alert alert-success" role="alert">
                                    @TempData["MensajeModificacionContraseñaExito"]
                                </div>
                            }

                            @if (TempData["mensajeSesionCerrada"] != null)
                            {
                                <div class="alert alert-warning">
                                    @TempData["mensajeSesionCerrada"]
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
