@model DB.Modelo.Usuarios
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        #sidebar {
            width: 10%;
            height: 100vh;
            background: #343a40;
        }

        main {
            text-align: center;
            margin-top: 20px;
        }

        /*CSS para usuario encontrado*/
        .usuario-encontrado {
            display: flex;
            align-items: center;
        }

        .imagen-circular {
            width: 50px; /* Ajusta el tamaño según sea necesario */
            height: 50px; /* Ajusta el tamaño según sea necesario */
            overflow: hidden;
            border-radius: 50%;
            margin-right: 10px; /* Ajusta el espacio entre la imagen y el nombre según sea necesario */
        }

            .imagen-circular img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        .nombre-usuario {
            font-size: 16px; /* Ajusta el tamaño de fuente según sea necesario */
        }
       
    </style>
</head>

<body>
    <div class="container">
        <main>
            
            <form method="post" action="@Url.Action("buscarUsuario", "ControladorBuscarUsuarios")">
                <div class="form-group mx-sm-3 mb-2">
                    <label for="buscar" class="sr-only">Buscar:</label>
                    <input type="text" class="form-control" id="buscar" name="correoElectronico" placeholder="Escribe tu búsqueda..." />
                </div>
                <button type="submit" class="btn btn-primary mb-2">Buscar</button>
            </form>
            @if (Model != null)
            {
                <a href="@Url.Action("perfilUsuarioBuscado", "ControladorBuscarUsuarios", new { id = Model.idUsuario})">
                    <div class="usuario-encontrado">
                        <div class="imagen-circular">
                            <img src="@Model.rutaImagen" alt="Foto de perfil" />
                        </div>
                        <p class="nombre-usuario">@Model.correoElectronico</p>
                    </div>
                </a>
            }
            else
            {
                <p>@TempData["mensajeError"]</p>
            }
        </main>
    </div>

    <!-- Bootstrap JS y Popper.js (si es necesario) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
