@model DB.Modelo.Usuarios
@{
    var listaPublicaciones = ViewData["listaPublicaciones"] as List<DB.Modelo.Publicaciones>;

}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        #sidebar {
            width: 10%;
            height: 100vh;
            background: #343a40;
        }

        main {
            text-align: center;
            margin-top: 20px;
        }

        .contenedor-imagenes {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around; /* Distribuye las imágenes de manera uniforme en el contenedor */
            gap: 20px; /* Espacio entre las imágenes */
        }

            .contenedor-imagenes div {
                flex: 0 0 calc(30% - 20px); /* Establece el ancho de cada contenedor con margen */
                box-sizing: border-box; /* Asegura que el margen no afecte el ancho real */
                margin-bottom: 20px; /* Espacio inferior entre las imágenes */
                border: 1px solid black;
                border-radius: 8px;
            }

            .contenedor-imagenes img {
                width: 100%; /* Ocupa el ancho completo del contenedor div */
                height: auto; /* Mantiene la proporción de aspecto */
            }

        .scrollable-container {
            overflow-y: auto; /* Agrega desplazamiento vertical si el contenido es demasiado grande */
            max-height: 99vh; /* Ajusta la altura máxima según sea necesario */
        }

    </style>
</head>

<body>
    <div class="scrollable-container">
        <main>
            <div>
                <img src="@Model.rutaImagen" alt="Foto de perfil" style="width: 150px; height: 150px; border-radius: 50%;" />
                <h2>@Model.correoElectronico</h2>

                <div>
                    <p>Publicaciones: @ViewData["numeroPublicacion"]</p>
                    <p>Seguidores: </p>
                    <p>Siguiendo: </p>
                </div>

                <div>
                    <!-- Botón para seguir al usuario -->
                    <form method="post" action="@Url.Action("solicitudSeguimiento", "ControladorSeguidores")">
                        <input type="hidden" name="idSeguidorSeguido" value="@Model.idUsuario" />

                        @if (ViewData["EstaSiguiendo"] != null && (bool)ViewData["EstaSiguiendo"])
                        {
                            <!-- Si ya está siguiendo, mostrar botón deshabilitado -->
                            <button type="button" class="btn btn-primary" disabled>Siguiendo</button>
                        }
                        else
                        {
                            <!-- Si no está siguiendo, mostrar botón habilitado para seguir -->
                            <button type="submit" class="btn btn-primary">Seguir</button>
                        }
                    </form>
                </div>


            </div>
            <div class="contenedor-imagenes">
               
                @foreach (var publicacion in listaPublicaciones)
                {
                    <div >
                        <img src="@publicacion.contenidoPublicacion" />
                    </div>
                }
            </div>
            @if (TempData["mensajeExito"] != null)
            {
                <div class="alert alert-success">
                    @TempData["mensajeExito"]
                </div>
            }

        </main>
    </div>
    
    <!-- Bootstrap JS y Popper.js (si es necesario) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
