@{
    ViewData["Title"] = "Lista de Publicaciones";
    var listaPublicaciones = ViewData["listaPublicaciones"] as List<DB.Modelo.Publicaciones>;
    var listaComentarios = ViewData["comentariosConUsuario"] as List<ComentarioConUsuarioViewModel>;
}

@using LinkSocial1.DTO
@model DB.Modelo.Publicaciones

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        #sidebar {
            width: 10%;
            height: 100vh;
            background: #343a40;
        }

        main {
            text-align: center;
            margin-top: 20px; /* Ajusta el margen superior según sea necesario */
        }

        .publicacion-container {
            border: 1px solid #ddd;
            padding: 15px;
            margin-bottom: 20px;
        }

        .img-container {
            margin: 10px;
            border: 1px solid #ccc;
            padding: 5px;
            background-color: #fff;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            font-size: 14px;
            width: 100%;
            height: 400px;
        }

            .img-container img {
                max-width: 100%;
                max-height: 100%;
                display: block;
                margin: 0 auto;
            }

        .comentarios-container {
            margin-top: 20px;
        }

        .comentario-form {
            margin-top: 20px;
        }

        .scrollable-container {
            overflow-y: auto; /* Agrega desplazamiento vertical si el contenido es demasiado grande */
            max-height: 99vh; /* Ajusta la altura máxima según sea necesario */
        }
    </style>
</head>

<body>
    <div class="scrollable-container">
        <div class="d-flex">


            <div class="flex-grow-1 mx-auto col-6">
                <div class="container">
                    <h2 style="text-align: center;">LinkSocial</h2>
                </div>

                <main>
                    @foreach (var publicacion in listaPublicaciones)
                    {
                        <div class="publicacion-container mx-auto mb-4">
                            <div class="img-container">
                                <img src="@publicacion.contenidoPublicacion" class="img-fluid">
                            </div>

                            <div class="comentarios-container">
                                <h4>Comentarios:</h4>
                                <ul class="list-unstyled">
                                    @foreach (var comentarioConUsuario in listaComentarios)
                                    {
                                        if (comentarioConUsuario.Comentario.idPublicacion == publicacion.idPublicacion)
                                        {
                                            <li>
                                                <strong>
                                                    @if (comentarioConUsuario.Usuario != null)
                                                    {
                                                        @comentarioConUsuario.Usuario.nombreCompleto
                                                    }
                                                </strong>: @comentarioConUsuario.Comentario.contenidoComentario
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>

                            <form class="comentario-form" method="post" action="@Url.Action("añadirComentario", "ControladorSubirPublicaciones")">
                                <input type="hidden" name="idPublicacion" value="@publicacion.idPublicacion" />
                                <div class="form-group">
                                    <textarea class="form-control" name="ContenidoComentario" placeholder="Escribe tu comentario"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Comentar</button>
                            </form>
                        </div>
                    }
                </main>

            </div>
        </div>
    </div>

    <!-- Bootstrap JS y Popper.js (si es necesario) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
